<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.horoom.toyproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToyProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.horoom.toyproject.ui.map.detailActivity"
            android:exported="false" />
        <activity
            android:name="com.horoom.toyproject.PickActivity"
            android:exported="false" />
        <activity
            android:name="com.horoom.toyproject.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="b287abc6b20a6232f29d4c2fb2b8d99a" />

        <activity
            android:name="com.horoom.toyproject.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.horoom.toyproject.MainActivity"
            android:foregroundServiceType="location" />
    </application>

</manifest>